<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | sarthakdev143</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <main class="container">
        <h1>Home Page</h1>
        <div class="links" style="display: flex; gap: 4rem; justify-content: center;">
            <a th:href="@{/sign-up}">Sign Up</a>
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/user}">User Panel</a>
            <a th:href="@{/admin}">Admin Panel</a>
        </div>
    </main>
</body>

</html>