<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page | sarthakdev143</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <main class="container" align="center">
        <h1>Sign Up Page</h1>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                Roles are not found. Please try again.
            </div>
        </div>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                Registration successful !!!
            </div>
        </div>
        <form th:action="@{/sign-up}" th:object="${user}" method="post">
            <input type="text" placeholder="Name" th:field="*{name}">
            <input type="email" placeholder="Email" th:field="*{email}">
            <p class="text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
            <input type="text" placeholder="Password" th:field="*{password}">
            <button type="submit">Sign Up</button>
        </form>

        <div class="links" style="display: flex; flex-direction: column;">
            <a th:href="@{/}">Back to Home</a>
            <a th:href="@{/login}">Login Instead</a>
        </div>
    </main>
</body>

</html>