<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Panel | sarthakdev143</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>

<body>
    <main class="container">
        <h1>User Panel</h1>
        <a th:href="@{/}">Back to Home</a>
        <div class="mt-2"> Roles: <span sec:authentication="principal.authorities"></div>
        <a th:href="@{/logout}">Logout</a>
    </main>
</body>

</html>